.hero__header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.hero__header div {
  display: flex;
  align-items: center;
}

.hero__logo {
  width: 3rem;
  height: auto;
}

.hero__header div h1 {
  font-size: 1.25rem;
  font-weight: 700;
}

.hero__header nav {
  display: flex;
  gap: 2rem;
}

.hero__header nav a {
  font-weight: 700;
  font-size: 0.875rem;
  color: var(--zinc-900);
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
}

.hero__header nav a:hover {
  color: var(--violet-500);
}

.hero__main {
  max-width: 80rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin: 0 auto;
}

.hero__presentation h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.hero__presentation p {
  color: var(--zinc-700);
  margin: 1rem 0;
}

.buttons {
  margin-top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__container_image {
  display: flex;
  width: 100%;
  height: 100%;
}

.hero__image {
  width: 31.25rem;
  height: auto;
  margin-left: auto;
}
